
/* CSS load animation */
p, h3, img, h1 {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

hr {
  height: 1px;
  width: 90%;
  /* color: #4A4A4A; */
  background-color: #DFDFDF;
  border: none;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* end CSS animation */

body {
  margin: 0;
  background-color: #F9F9F9;
}

html {
  scroll-behavior: smooth;
}

/* home nav  */
.header {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 140px;
}

#nav-wrap {
  display: flex;
  flex-direction: row;
}

#name {
  order: 1;
  flex: 1.5;
}


#name a {
  color: white;
  text-decoration: none;
}

.section-header a {
  color: black;
  text-decoration: none;
}

#links {
  letter-spacing: 1px;
  order: 2;
  flex: 1;
}

.article-title a {
  text-decoration: none;
  color: black;
  display: block;
}


.article-title a:hover {
  color: grey;
}


#nav a {
  color: white;
}

#name-full {
  /* font-family: Lato; */
  font-family: 'Didot';
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 40px;
  margin-left: 100px;
  z-index: 6;
  color: white;
  margin-top: 40px;
}

#nav {
  font-family: 'Avenir';
  font-weight: 400;
  z-index: 7;
  color: white;
  margin-top: 60px;

}

/* end home nav */

.section-header {
  font-family: 'Avenir';
  font-weight: 200;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 60px;
}

/* articles css */
.article-title {
  letter-spacing: 1px;

  font-family: Avenir;
  font-size: 26px;
}

.byline {
  font-family: Didot;
  font-size: 20px;
  padding-bottom: 10px;
}

.article {
  margin-left: 100px;
  margin-top: 40px;
}


/* end articles css */

li a:hover {
  color: blue;
}

#all {
  font-family: 'Avenir';
  font-size: 18px;
  margin-left: 100px;
  margin-top: 40px;
  font-weight: bold;
}


#mywork {
  float: left;
  text-align: left;
  margin-left: 100px;
  font-family: 'Avenir';
  font-size: 18px;
  font-weight: 500;
  color: #4A4A4A;
  z-index: 10;
  margin-bottom: -10px;
}

/* recent projects css on home */
.recent-wrap {
  display: flex;
  flex-direction: row;
}

.recent1 {
  flex:1;
  order:1
}

.recent2 {
  flex:1;
  order:2
}

.recent3 {
  flex:1;
  order:3
}

.recent-link {
  font-family: Avenir;
  font-size: 18px;
  padding-bottom: 10px;
}

.recent-link a {
  color: black;
  text-decoration: none;
}

.recent-link a:hover {
  color: grey;
}

.seeAll {
  font-family: 'Avenir';
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  margin-right: 100px;
  margin-top: 20px;
}

.seeAll a {
  color: black;
  text-decoration: none;
}

.seeAll a:hover {
  color: grey
}


/* end recent */


/* projects */

#work-des {
  height: 130px;
}

.wrap {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.left-project {
  flex: 2;
  order: 1;
}

.header-layout {
  font-size: 25px;
  vertical-align: middle;
  font-family: 'Avenir';
}

.p-layout {
  margin-left: 100px;
  text-align: left;
  font-family: 'Avenir';
  font-size: 18px;
  width: 70%;
}

.a-layout {
  color: black;
  text-decoration: none;
}

.a-layout:hover {
  color: grey;
}

.right-project {
  flex: 2;
  order: 2;
}

#proj-footer {
  margin-top: 100px;
  background-color: #212121;
  height: 416px;
  width: 100%;
  position: relative;
  line-height: 400px;

}

#detail-span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
  font-family: Didot;
  font-size: 30px;
  color: white;
}

#detail-span a {
  text-decoration: none;
  color: white;
}

/* about page */

/* image opacity animation */

.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .9;
}

/* end opacity animation */

.about-wrap {
  display: flex;
  flex-direction: row;
}

#description {
  letter-spacing: 0.2px;
  margin-top: 20px;
  margin-right: 100px;
  flex: 1;
  order: 2;
}

#description p {
  font-weight: 500;
  font-family: 'Avenir';
  font-size: 20px;
}

#bio-pic {
  margin-left: 50px;
  flex: 1;
  order: 1;
}

/* end about page css */

/* myoutlines page */
#phone-cover {
  text-align: center;
  /* margin-top: -10px;
  margin-left: -130px; */
}

#des1 {
  margin-top: 50px;
  font-family: Avenir;
  font-size: 18px;
  text-align: center;
}

#process {
  font-family: Avenir;
  font-size: 18px;
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
}

.first {
  margin-top: 40px;
  font-family: Avenir;
  margin-left: 100px;
  margin-right: 80px;
}

.second {
  font-family: Avenir;
  margin-left: 100px;
  margin-right: 80px;
}

.data {
  text-align: center;
}

.research {
  margin-top: 40px;
  text-align: center;
}

.tag {
  letter-spacing: 0.5px;
  margin-top: 40px;
  font-family: 'Avenir';
  margin-left: 100px;
  font-size: 25px;
}

.tag a {
  text-decoration: none;
  color: black;
}

.tag a:hover {
  color: grey;
}

.bottom {
  margin-top: -10px;
  font-family: Didot;
  margin-left: 100px;
  font-size: 18px;
}

#full {
  margin-top: 50px;
}

#full-wrap {
  display: flex;
  flex-direction: row;
}

#left-wrap {
  flex: 1;
  order: 1;
}

#right-wrap {
  margin-right: 100px;
  flex: 1;
  order: 2;
}


/* end projects css */

/* contact css */

#foot-wrap {
  display: flex;
  margin-top: 70px;
  position: relative;
}

#footer1 {
  flex: 1;
  order: 2;
  background-color: #212121;
  margin: 0;
  height: 416px;
  width: 50%;
  font-size: 100%;
  font-weight: normal;
}

#collage {
  height: 416px;
  flex: 1;
  order: 1;
  width: 50%;
  overflow-y: hidden;
  margin: 0;
}

#contact {
  position: absolute;
  margin-left: 250px;
  margin-top: 70px;
  font-size: 20px;
  font-family: 'Avenir';
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

#email {
  position: absolute;
  margin-left: 250px;
  margin-top: 190px;
  font-size: 18px;
  font-stretch: expanded;
  font-family: 'Avenir';
  font-weight: lighter;
  color: white;
}

#email a {
  color: white;
  text-decoration: none;
}

#linkedin {
  -webkit-filter: invert(100%);
  position: absolute;
  margin-left: 255px;
  margin-top: 320px;
}

#instagram {
  -webkit-filter: invert(100%);
  position: absolute;
  margin-left: 285px;
  margin-top: 320px;
}

#github {
  -webkit-filter: invert(100%);
  position: absolute;
  margin-left: 315px;
  margin-top: 320px;
}

#medium {
  -webkit-filter: invert(100%);
  position: absolute;
  margin-left: 345px;
  margin-top: 320px;
}
